body{
    background-image: url("../images/backgrounds/poptarts.jpg");
}

#header{
    height: 8%;
}

#presentation-panel{
    display: block;
    z-index: 1;
}

#trivia-panel{
    display: none;
}

#question-image{
    height: 40%;
}

div#questions-panel {
    height: 11%;
    margin-top: 6%;
}